body {
    background-color: #46485A;
}
h1 {
    color: white;
}
header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    align-items: center;
    justify-content: space-between ;
}
header span a{
    margin: 0 1rem;}

header span img{scale: 0.90;}

main h2{display: flex;
    justify-content: space-between;}

header span button{
    margin: 0 1rem;
}

.linha{display: flex;
justify-content: space-evenly; padding-bottom: 10%;}
.linha2{display: flex; 
    justify-content: space-evenly;}

header span{
    display: flex;
    flex-direction: row;
}

main{ justify-content: space-around}

.maincolumn{display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 50%;
    background-color: gray;}